<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Specify supported SDK versions -->
    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="30"
        android:maxSdkVersion="30"
        tools:ignore="ExpiredTargetSdkVersion" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Ingredient Scanner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cosc3p97_groupProject"
        tools:targetApi="31">
        <activity
            android:name=".FoodItemStatsActivity"
            android:exported="false" />
        <activity
            android:name=".Stats"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreScanActivity" />
        <activity android:name=".ReportActivity" />
    </application>

</manifest>
